:root {
  --header-height: 60px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgb(33, 33, 33);
}

a {
  color: #6a50ee;
}
